Import the libraries needed

In [68]:
import pandas as pd #Here i only need pandas library

Import all the excel files and related sheets

In [75]:
orders=pd.read_excel('Global Superstore.xls',sheet_name='Orders') # First importing order sheet

In [76]:
orders.head(2)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,32298,CA-2012-124891,2012-07-31,2012-07-31,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,...,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650,7,0.0,762.1845,933.57,Critical
1,26341,IN-2013-77878,2013-02-05,2013-02-07,Second Class,JR-16210,Justin Ritter,Corporate,Wollongong,New South Wales,...,FUR-CH-10003950,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical

In [77]:
orders=orders.drop(["Customer ID","Customer Name", "Order Priority","Sales","Quantity","Discount","Profit","Product Name","Product ID"],axis=1)
# deleted columns i don't need

In [79]:
orders.head(2)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Segment,City,State,Country,Postal Code,Market,Region,Category,Sub-Category,Shipping Cost
0,32298,CA-2012-124891,2012-07-31,2012-07-31,Same Day,Consumer,New York City,New York,United States,10024.0,US,East,Technology,Accessories,933.57
1,26341,IN-2013-77878,2013-02-05,2013-02-07,Second Class,Corporate,Wollongong,New South Wales,Australia,NaN,APAC,Oceania,Furniture,Chairs,923.63

In [80]:
return_sheet = pd.read_excel('Global Superstore.xls',sheet_name='Return') # Importing return sheet from same excel file

In [81]:
return_sheet.head(2) # Courier aount paid by customer while returing product

         Order ID  CarrierPrice
0  CA-2012-124891           329
1   IN-2013-77878           479

In [82]:
result=orders.merge(return_sheet,on='Order ID') # Merging both the sheet like Vllokup

In [83]:
result.head(3)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Segment,City,State,Country,Postal Code,Market,Region,Category,Sub-Category,Shipping Cost,CarrierPrice
0,32298,CA-2012-124891,2012-07-31,2012-07-31,Same Day,Consumer,New York City,New York,United States,10024.0,US,East,Technology,Accessories,933.57,329
1,32298,CA-2012-124891,2012-07-31,2012-07-31,Same Day,Consumer,New York City,New York,United States,10024.0,US,East,Technology,Accessories,933.57,660
2,32298,CA-2012-124891,2012-07-31,2012-07-31,Same Day,Consumer,New York City,New York,United States,10024.0,US,East,Technology,Accessories,933.57,896

In [85]:
result.to_excel(r'C:\Users\Finch\result.xlsx') # Save the output at location C:\Users\Finch with file name as result.xlsx